
/* Home page  */
/* ---------------------------------------------------------- */
.home-page {
    text-align: center;
}
.ctn-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 60px;
    flex-wrap: wrap;
}
.btn-navigation {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.btn-navigation:hover{
    -webkit-box-shadow: 10px 15px 39px -3px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 10px 15px 39px -3px rgba(0, 0, 0, 0.12);
    box-shadow: 10px 15px 39px -3px rgba(0, 0, 0, 0.12);
}
.btn-navigation i {
    font-size: 27px;
    color: #474788;
    margin-top: 20px;
    
}
.welcome{
    color: #474788;
    margin-top: 50px;
}
.home-page a {
text-decoration: none;
color: #474788;
}



