/* Section des filtres de la page movies */
/* ---------------------------------------------------------- */
.filters-sec{
    position: sticky;
    top: 0;
    z-index: 18;
}

.filters{
    background-color: #F7F7F7;
    box-shadow: 0 3px 6px 0 #ccc;
}
.filters-inputs input{
    height: 30px;
    border: 1px solid #e7e7e7;
    width: 180px;
}
.filters-inputs h5{
    color: #707070;
}
.filters-inputs input[type=date]{
    color: #707070;
    opacity: 100%;
    width: 183px;
}
.filters-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
}
.filters-inputs select{
    height: 32px;
    border: 1px solid #e7e7e7;
    width: 186px;
    color: #707070;
    font-family: 'Raleway', sans-serif;
}
.fa-filter{
    font-size: 20px;
    color: #474788;
}
.btn-navigation {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    transition: all 0.5s 0s ease;
    position: fixed;
    right: 40px;
    top: 172px;
    z-index: 20;
    border-radius: 20px;
}

.btn-navigation {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}
.btn-navigation:hover{
    box-shadow: 0 3px 6px 0 #ccc;
}
.btn-navigation i {
    font-size: 27px;
    color: #474788;
    margin-top: 20px;
    
}
.btn-navigation b {
    text-decoration: none;
    color: #474788 !important;
}


/* Filtres sélectionnés */
/* ---------------------------------------------------------- */
.selected-filters-ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 8px;

}
.selected-filters-ctn div{
    position: relative;
    border: 1px solid #e7e7e7;
    height: 24px;
    color: #707070;
    font-size: 12px;
    width: 86px;
    margin: 12px;
}
.selected-filters-ctn div p{
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;

}

.selected-filters-ctn div:after{
    content: "\f057";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    left: 67px;
    bottom: 4px;
    position: absolute;
    color: #474788;
}

    /* Movies list & movie home page */
/* ---------------------------------------------------------- */

.movies-list-ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 0px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.movies-sec > h2{
    color: #474788;
    text-align: center;
}
.empty {
    text-align: center;
}
.empty h3{
    color: #474788;
}
.empty p a{
    color: #474788;

}
.movie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 600px;
    background-color:#F7F7F7;
    border-radius: 30px;
    height:300px;
    position: relative;
    box-shadow: 0 3px 6px 0 #ccc;

}
.movie img{
    height:300px;
    max-width: 213px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}
.movie-infos{
    padding: 16px;
    width: 360px;
    position: absolute;
    right: 3px;
}
.movie-infos h3{
    color: #474788;
}
.movie-infos p {
    font-size: 14px;
    color:#707070;
}
.movie-infos a{
    color: #474788;
}
button.delete{
    position: absolute;
    right: 20px;
    top: 25px;
    border: none;
    background: none;
    font-size: 26px;
    color: #474788;
    cursor: pointer;
}
div.edit{
    position: absolute;
    right: 50px;
    bottom: 30px;
    background: #474788;
    border: none;
    color: #fff;
    width: 60px;
    height: 26px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    text-align: center;
}
div.edit a{
    color: #fff;
    text-decoration: none;
    line-height: 27px;
    font-size: 14px;
}


/* Version mobile */
/* ---------------------------------------------------------- */
    /* Movies list & movie home page */
/* ---------------------------------------------------------- */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.filters {
    padding-bottom: 25px;
}
.filters-inputs {
    flex-direction: column;
}
.filters-inputs input{
    margin-bottom: 12px;
 }
 .selected-filters-ctn {
    max-width: 90%;
 }
 .movie {
     flex-direction: column;
     width: 90%;
     height: 100%;
     align-items: initial;
     margin-bottom: 30px;
 }
 .movie img {
    height: auto;
    width: 100%;
    max-width: 100%;
    border-bottom-left-radius: 0px 0px;
    border-top-right-radius: 30px 30px;
    position: initial;
 }
 .movie-infos {
    padding: 16px;
    width: 90%;
    position: initial;
    min-height: 200px;

}
button.delete {
    right: 130px;
    bottom: 30px;
    top: initial;
}
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
.filters {
    padding-bottom: 25px;
}
.filters-inputs {
    flex-direction: column;
}
.filters-inputs input{
    margin-bottom: 12px;
 }
 .selected-filters-ctn {
    max-width: 80%;
 }
 .movie {
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.movie {
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: initial;
    margin-bottom: 30px;
}
.movie img {
   height: auto;
   width: 100%;
   max-width: 100%;
   border-bottom-left-radius: 0px 0px;
   border-top-right-radius: 30px 30px;
   position: initial;
}
.movie-infos {
   padding: 16px;
   width: 90%;
   position: initial;
   min-height: 200px;

}
button.delete {
    right: 130px;
    bottom: 30px;
    top: initial;
}

}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

.filters-inputs {
    max-width: 91%;
}

}
