    /* Movie details */
/* ---------------------------------------------------------- */
.movie-details-sec{
    margin: 0 auto;
}
.movie-details-sec h3 {
    color: #474788;
    text-align: center;
    margin-top: 70px;
    font-size: 28px;

}

.hero-img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 140px;
}
.movie-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 940px;
    background-color:#F7F7F7;
    border-radius: 30px;
    height: 420px;
    position: relative;
    box-shadow: 0 3px 6px 0 #ccc;
    top: 80px;
}
.movie-details img.poster{
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}
.backdrop-ctn{
    position: relative;
}
.movie-details img.backdrop{
    width: 70px;
    height: auto;
    position: absolute;
    top: -12px;
    left: 80px;
}
.movie-details-infos{
    padding: 16px;
    width: 590px;
    position: absolute;
    right: 16px;
}
.movie-details-infos h3{
    color: #474788;
}
.movie-details-infos h2{
    color: #474788;
    font-size: 36px;
}
.movie-details-infos p {
    font-size: 14px;
    color:#707070;
}
.movie-details-infos b {
    color: #474788;
}
.movie-details-infos a{
    color: #474788;
}
.movie-details-delete{
    position: absolute;
    right: 40px;
    top: 40px;
    border: none;
    background: none;
    font-size: 40px;
    color: #8484ab91;
    cursor: pointer;
    z-index: 10;


}
.movie-details-edit{
    position: absolute;
    right: 100px;
    top: 44px;
    border: none;
    background: none;
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
}
.movie-details-edit i {
    color: #8484ab91;
}

 .no-id {
    color: #474788;
    text-align: center; 
}
.actors-ctn{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.similar-movies-ctn{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

}
.actor, .similar{
    background-color:#F7F7F7;
    width: 200px;
    border-radius: 20px 20px;
    box-shadow: 0 3px 6px 0 #ccc;
}
.actor img, .similar img {
    width: 100%;
    border-top-left-radius: 20px 20px;
    border-top-right-radius: 20px 20px;
}
.actor figcaption, .similar figcaption {
    padding: 10px;
}
.actor figcaption p.actor-name, .similar figcaption p.similar-title{
    color: #474788;
}


