/* Formulaire de movie data  */
/* ---------------------------------------------------------- */

.movie-form form {
    text-align: center;
    width: 100%;
}
.input-10 {
    width: 13%;
    margin: 3px;
} 
.input-30 {
    width: 40%;
    margin: 3px;

} 
.input-60 {
    width: 81%;
    margin: 3px;

} 

input {
    border: 1px solid #e7e7e7;
    height: 30px;
    font-family: ;
} 

textarea {
    border: 1px solid #e7e7e7;
    min-height: 30px;
    color: #3c3c3c;
    opacity: 1; /* Firefox */
    font-family: 'Raleway', sans-serif;
}
button {
    background: #474788;
    border: none;
    color: #fff;
    height: 30px;

}
h3 {
    color: #474788;
}
input { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3c3c3c;
    opacity: 1; /* Firefox */
    font-family: 'Raleway', sans-serif;
  }
  button.input-send {
      margin: 30px;
      background: #884761;
      height: 40px;
      width: 13%;

  }
.remove {
    background-color: #6e6e6e;
}
